.container {
  p {
    color: aquamarine;
    display: grid;
  }

  .container__text {
    background-color: rgb(0, 255, 234);
    transform: matrix();
    color: blue;
  }

  .container__box {
    width: 30px;
    height: 30px;
    border: 1px solid red;
    @include transform(rotate(30deg));
  }
}